// Theme colors
//
// Note: define colors needed by your theme first

$primary: #d14124;
$secondary: #003b5c;

// Theme fonts
$font-family-sans-serif: cursive;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
